body {
	color: #174A61;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
	font-weight: 400;
	font-size: 15px;
	padding: 0px;
}

/* -- left part --*/
.magazine-contents .content{
	margin: 0 auto;
	width: 70%;
	
}
.magazine-contents h5{
	font-weight: 700;
	text-decoration: underline;
	color: #EF4723;
	font-size: 16px;
}
.magazine-contents ul{
	list-style: circle;
	font-weight: 700;
	font-size: 16px;
}
/*--- middle part --*/
.item-section{
	padding: 10px;
}
.main-container{
	padding:15px;
}
.heading{
	background: #fff;
	padding: 4px 15px;
}
.heading-section{
	background: #fbfbfb;
	padding: 5px 10px;
}
.heading h5{
	font-weight: 700;
	text-decoration: underline;
}
.heading a{
	color: #EF4723;
	text-decoration: none;
}
.heading a:hover{
	color: #f57156;
	text-decoration: underline;
}

.item{
	padding: 5px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #174A61;
}
.magazine-item img{
	width: 100%;
	max-height: 200px; 
	border-radius: 4px;
}
.magazine-item ul{
	display: flex;
	padding: 0;
	padding-top: 4px;
	margin: 0px;
	
}

.magazine-item ul li {
	list-style: none;
	margin:0;
	width: 100%;
	text-align: center;
}
.magazine-item ul li a{
	border-radius: 10px;
	padding: 1px 2px;
	font-size: 15px;
	font-weight: 700;
	margin: 2px;
	display: block;
	text-decoration: none;
	text-align: center;
}
.magazine-item ul li .btn-view{
	border: 1px solid #2BC105; color: #2BC105;
}
.magazine-item ul li .btn-download{
	border: 1px solid #EF4723; color: #EF4723;
}
.magazine-item ul li .btn-view:hover{
	background: #2BC105;
	color: #fff;
}
.magazine-item ul li .btn-download:hover{
	background:#EF4723;
	color: #fff;
}
.magazine-item p{
	margin: 0px;
	margin-top: 2px;
	text-align: center;
	display: block;
	font-weight: 700;
	padding: 0px;
}

.magazine-contents .right-section{
	margin: 0px 50px;
	padding; 5px;
	text-align: left;
}

.right_option_box ul {
	display: none;
	/* THIS MAY CHANGE WHENEVER YOUR WANT TO SHOW TITLE BUT IT WILL BE HIDE WHEN TITLE WILL SHOW  */
	background: red;
}

.right_option_box_title {
	display: block;
}