body {
	padding: 5px;
	color: #174A61;
	font-family: "Rasa", serif;
	font-weight: 300;
	font-size: 20px;
}
/* HEADER */
.header_center_container {
	color: #174A61;
	font-family: "Rasa", serif;
	font-weight: 300;
	font-size: 20px;
}
/*---- user details or user account info */
.user_details {
	padding: 2px 5px;
	display: flex;
	border: 1px solid #174A61;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
}

.user_details img {
	border-radius: 50%;
	border: 1px solid #174A61;
	width: 42px;
	height: 42px;
	margin: 0px;
	padding: 0px;
}

.user_details h2 {
	margin-left: 5px;
	font-family: "Mirza", serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 15px;
}
/*--- search container ---*/
.serach_container {
	border: 1px solid #174A61;
	padding: 0px;
	height: 50px;
	display: flex;
	margin: 0px 10px;
}

.serach_container input[type=text] {
	margin: 0px;
	height: 48px;
	width: 100%;
	background: #fff;
	padding: 5px 8px;
	margin: 0px;
	border: 0px;
}

.serach_container span {
	background: #f6f6f6;
	padding: 2px 10px;
	margin: 0px;
	height: 48px;
	cursor: pointer;
}

.serach_container span:hover {
	background: #174A61;
	color: #fff;
}
/*-- program title of right content information --*/
.program_title_container {
	border: 1px solid #174A61;
	height: 50px;
	margin: 0px;
	padding: 0px;
}

.program_title_container p {
	text-align: center;
}

/*-- CONTENT AREA --*/
/*------------------ left content area ----------*/
.left_content {
	border: 0px;
	padding: 0px;
}

.left_content_container {
	margin: 0px;
	padding: 5px;
	border: 1px solid #174A61;
	color: #174A61;
}

.left_content_container ul li {
	list-style: disc;
}

.left_content_container ul li a {
	color: #174A61;
}

.left_content_container ul li a:hover {
	color: #08c;
	text-decoration: underline;
}
/*-- middle content --*/
.middle_content {
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

.middle_content_container {
	margin: 0px;
	padding: 0px;
}

.content_item {
	border: 1px solid #174A61;
	margin-bottom: 5px;
	padding: 5px;
}

.content_item img {
	width: 250px;
	height: 200px;
}

.announcement_title {
	border-bottom: 1px solid #174A61;
	padding: 0;
}

.announcement_title a {
	text-decoration: underline;
}

.announcement_title p {
	font-weight: 700;
	margin: 0px;
	padding: 5px;
	text-align: center;
}

.announcement_details {
	margin: 5px;
}
/*-- announce source --*/
.announcement_source {
	border-top: 1px solid #174A61;
	padding: 0;
}

.announcement_source p {
	margin: 0px;
	padding: 5px;
	font-size: 14px;
	text-align: center;
}

.tags_container {
	padding: 0px;
}

.tag_item {
	padding: 0px;
	margin: 0px;
	padding-bottom: 5px;
	padding-right: 5px;
}

.tag_item p {
	margin: 0px;
	border: 1px solid #174A61;
	text-align: center;
	padding: 0px;
	font-size: 15px;
	border-radius: 4px;
	cursor: pointer;
}

.tag_item p:hover {
	color: #fff;
	background: #174A61;
}

.account_options {
	background: #fff;
	border: 1px solid #174A61;
}

.account_options ul {
	margin: 0px;
	padding: 0px;
}

.account_options ul li {
	margin: 0px;
	list-style: none;
	border-bottom: 1px solid #174A61;
}

.account_options ul li a {
	display: block;
	padding: 10px;
	text-align: center;
	font-family: "Mirza", serif;
	font-weight: 300;
	color: #174A61;
	font-size: 18px;
}

.account_options ul li a:hover {
	background: #174A61;
	color: #fff;
	text-decoration: none;
}

.right_option_box ul {
	display: none;
	/* THIS MAY CHANGE WHENEVER YOUR WANT TO SHOW TITLE BUT IT WILL BE HIDE WHEN TITLE WILL SHOW  */
	background: red;
}

.right_option_box_title {
	display: block;
}